[user]
	name = m.yamaoka
	email = arcs7nine@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim -f
[merge]
	keepBackup = false
	tool = p4merge
[mergetool "p4merge"]
	cmd = p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	keepTemporaries = false
	trustExitCode = false
	keepBackup = false
[diff]
	external = p4diff
[color]
	ui = auto
[alias]
	co = checkout
	st = status
	br = branch
