[include]
	path = ~/.gitconfig.local

[user]
	name = yuuki-arc
	email = arcs7nine@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = vim -f
	precomposeunicode = true
	preloadindex = true
	fscache = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/Caskroom/sourcetree/2.0.2/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = auto
[alias]
	co = checkout
	st = status
[pager]
	log = diff-highlight 
	show = diff-highlight 
	diff = diff-highlight 
[ghq]
	root = ~/src
[push]
	default = simple
[hub]
	host = 
[github]
	user = yuuki-arc
[ghi]
	token = !security find-internet-password -a  -s github.com -l 'ghi token' -w
